@{
    ViewBag.Title = "OFFICE AND TYPE-WISE CASE REPORT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        padding: 5px
    }

    th {
        text-align: center;
        padding: 5px
    }
</style>
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-content cs_modal">
                    <div class="modal-header justify-content-center theme_bg_mainpage_modal_header">
                        <h5 class="modal-title">OFFICE AND TYPE-WISE CASE REPORT</h5>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div id="ex0">
                                <div class="row">
                                    <div class="col-md-2"><span>Issue Date From</span> <input id="issueDateFrom" class="Kyear" style="width:100%" /></div>
                                    <div class="col-md-2"><span>Issue Date To</span> <input id="issueDateFrom" class="Kyear" style="width:100%" /></div>
                                    <div class="col-md-3"><span>Ministry/Department</span><input style="width: 100% !important" type="text" class="k-combo" id="cmbMinistryOrDepartment" autocomplete="off" /></div>
                                    <div class="col-md-2"><span>Office</span><input id="cmbOffice" class="k-combo" style="width: 100%;" /></div>
                                    <div class="col-md-1"><button class="btn btn-success mt-3 mb-3" onclick="SaveCaseDocuments()">View</button></div>
                                </div>             
                            </div>

                            <table class="table-bordered table-responsive" style="width:100%">
                                <tbody>
                                    <tr>
                                        <th style="min-width: 50px; font-size: 20px; background: #e2efda; color: #bb0000 !important; " colspan="15">
                                            Office and Type-wise case
                                            Year: 2020 - 2023
                                        </th>

                                    </tr>
                                    <tr>
                                        <th style="min-width:50px" rowspan="2">SL</th>
                                        <th style="min-width:50px" rowspan="2">Office</th>
                                        <th style="min-width:50px" colspan="3">Writ Case</th>
                                        <th style="min-width:50px" colspan="3">Labour Court</th>
                                        <th style="min-width:50px" colspan="3">Departmental</th>
                                        <th style="min-width:50px" colspan="3">Others</th>
                                        <th style="min-width:50px" rowspan="2">Grand Total</th>
                                    </tr>
                                    <tr>
                                        <th style="min-width: 50px">Closed</th>
                                        <th style="min-width:50px">Open</th>
                                        <th style="min-width:50px">Total</th>
                                        <th style="min-width:50px">Closed</th>
                                        <th style="min-width:50px">Open</th>
                                        <th style="min-width:50px">Total</th>
                                        <th style="min-width:50px">Closed</th>
                                        <th style="min-width:50px">Open</th>
                                        <th style="min-width:50px">Total</th>
                                        <th style="min-width:50px">Closed</th>
                                        <th style="min-width:50px">Open</th>
                                        <th style="min-width:50px">Total</th>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">1</td>
                                        <td style="min-width:50px">DIG office Dhaka</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">546</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">768</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">2</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #ffe699">2226</td>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">2</td>
                                        <td style="min-width:50px">DIG office Narayanganj</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">768</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">2</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #ffe699">1801</td>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">3</td>
                                        <td style="min-width:50px">DIG office</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">546</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">768</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">768</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #ffe699">3202</td>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">4</td>
                                        <td style="min-width:50px">DIG office Munshiganj</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">546</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">768</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">24</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">2</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; background: #fce4d6">5</td>
                                        <td style="min-width: 50px; background: #fce4d6">4</td>
                                        <td style="min-width: 50px; background: #fce4d6">2</td>
                                        <td style="min-width: 50px; background: #ffe699">2039</td>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">5</td>
                                        <td style="min-width:50px">DIG office Tangail</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">2</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">34</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #ffe699">536</td>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">6</td>
                                        <td style="min-width:50px">DIG office Faridpur</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">546</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">768</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">46</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">2</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #ffe699">2050</td>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">7</td>
                                        <td style="min-width:50px">DIG office Kishorganj</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">44</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">2</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">7</td>
                                        <td style="min-width: 50px; background: #ffe699">1074</td>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">8</td>
                                        <td style="min-width:50px">DIG office Narsingdi</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">455</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">70</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">170</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">2</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">10</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #ffe699">1395</td>
                                    </tr>
                                    <tr>
                                        <td style="min-width:50px">9</td>
                                        <td style="min-width:50px">Office of the DIG, Gopalganj</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">222</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">111</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #fce4d6" onclick="Report()">333</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2 " onclick="Report()">10</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">2</td>
                                        <td style="min-width: 50px; color: blue; text-decoration: underline;cursor:pointer; background: #d9e1f2" onclick="Report()">12</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #fce4d6">0</td>
                                        <td style="min-width: 50px; background: #ffe699">1356</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Report() {
        var url = '/Reports/SubReportReport1';
        window.open(url, '_blank');
    }  
</script>
<script src="~/Assets/lib/CommonUI/js/casemanagement/OfficeAndCourtWiseReport.js"></script>