
@{
    ViewData["Title"] = "HelpDesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_content_iner pt-0">
   <div class="container-fluid p-0">
      <div style="border-top: 1px solid #794c8a; padding: 0; background: white; border: 1px solid #7ea700; ">
         <div class="row" style="justify-content: right;">
            <div class="col-md-12 pt-2 pb-2" style="justify-content: space-between; align-items: center; display: flex; background: #acb6eb; color: white;">
               <div>
                  <h4 id="stepTitle">Help Desk Information</h4>
               </div>
              
            </div>
         </div>
         <div class="row" style="justify-content:center; margin-bottom:20px;">

            <div class="col-md-12 mt-2">
               <div class="card-container">



                  <marquee style=" color: cadetblue; font-size: 17px; font-weight: bold; background: aliceblue; padding: 10px;"> যেকোনো ধরনের প্রশ্ন / সহায়তার জন্য অনুগ্রহ করে সকাল ৯টা থেকে বিকেল ৫টা পর্যন্ত (রবিবার-বৃহস্পতিবার)যোগাযোগ করার জন্য নিচের ঠিকানায় অনুরোধ করা হল।  </marquee>
                  <h4 style="font-weight:bold;">র‍্যাভেন সিস্টেমস লিমিটেড</h4>
                  <p>৩৩-৩৭ মিল্ক ভিটা রোড,</p>
                  <p> সেকশন-৭, মিরপুর, ঢাকা-১২১৬, বাংলাদেশ.</p>
                  <p>যোগাযোগ: +৮৮০ ১৪০১-১৫২৯৫৪</p>
                 @* <p>ইমেইল: ciamshelpdesk@gmail.com</p>

                  <div class="buttons">
                     <button style="font-family: 'solaimanLipi'; color: white;" class="primary">
                        <span class="k-icon k-i-calculator"></span> +880 1401-152954
                     </button>
                     <button style="font-family: 'solaimanLipi';" onclick="parent.location='mailto:ciamshelpdesk@gmail.com'" class="primary ghost">
                        <span class="k-icon k-i-email"></span> ciamshelpdesk@gmail.com
                     </button>
                     <button style="font-family: 'solaimanLipi';" onclick="usermanual()" class="success ghost">
                        <span class="k-icon k-i-download"></span> Download User Manual
                     </button>*@

                  </div>
                  <br>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>

