@{
    ViewBag.Title = "Case Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div style="border-top: 1px solid #794c8a; padding: 0; background: white; border: 1px solid #7ea700; ">
            <div class="row">
                <div class="col-md-12">
                    <h4 style="padding: 5px; text-align: center; background: #ffd800; color:black;" id="stepTitle">Under Construction</h4>
                </div>
            </div>
        </div>

    </div>
</div>